@model BankOnlineShopConsumer.Models.Transaction
@{
    ViewBag.Title = "Pay Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orderID = ViewBag.orderID;
    var total = ViewBag.total;
    var name = ViewBag.name;
    var content = ViewBag.content;
}
<style>
.placehoder::-webkit-input-placeholder {
        color: red
    }
</style>

@if (@Session["PartnerAccount"] != null)
{

    <div class="section group">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <h3 style="text-align: center">Thanh toán đơn hàng qua pay</h3>
                
                @using (Html.BeginForm("Checkout", "PayCheckout", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Mã đơn hàng</label>
                        <input type="text" class="form-control" name="billId" value="@orderID"  />
                        @Html.ValidationMessageFor(model => model.billId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Tên giao dịch</label>
                        <input type="text" class="form-control nameTransaction" value="@name" name="name" />
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Số tiền giao dịch</label>
                        <input type="number" class="form-control" name="amount" value="@total"/>
                        @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Nội dung giao dịch</label>
                        <input type="text" class="form-control contentTransaction" value="@content" name="content" />
                        @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="button" id="confirmCheckout" value="Thanh toán" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>
    <script>

        $('#confirmCheckout').on('click', function () {
            var userConfirm = confirm("Bạn có chắc muốn thực hiện thanh toán không.");
            if (userConfirm) {
                $(this).parents("form:first").submit();
            }
        });
    </script>
}
